In [3]:
import numpy as np

def display_table(table):
    col_widths = [max(len(str(row[i])) for row in table) for i in range(table.shape[1])]
    for row in table:
        print(" | ".join(str(cell).ljust(col_widths[i]) for i, cell in enumerate(row)))


sales_table = np.array([
    ["Region", "Total Sales", "Average Sale Value", "Top Product", "Discount Applied (1=Yes, 0=No)"],
    ["North", 1500, 50, "Product A", 1],
    ["South", 1200, 40, "Product B", 0],
    ["East", 1800, 60, "Product C", 1],
    ["West", 1300, 45, "Product A", 0]
])


employee_table = np.array([
    ["Employee", "Hours Worked (Weekly)", "Tasks Completed", "Satisfaction Score (1-5)", "Category (Rank)"],
    ["Alice", 40, 50, 4, "High"],
    ["Bob", 38, 48, 3, "Medium"],
    ["Charlie", 45, 55, 5, "High"],
    ["Diana", 42, 52, 4, "High"]
])

print("Sales Summary Table:")
display_table(sales_table)
print("\nEmployee Performance Summary Table:")
display_table(employee_table)

Sales Summary Table:
Region | Total Sales | Average Sale Value | Top Product | Discount Applied (1=Yes, 0=No)
North  | 1500        | 50                 | Product A   | 1
South  | 1200        | 40                 | Product B   | 0
East   | 1800        | 60                 | Product C   | 1
West   | 1300        | 45                 | Product A   | 0

Employee Performance Summary Table:
Employee | Hours Worked (Weekly) | Tasks Completed | Satisfaction Score (1-5) | Category (Rank)
Alice    | 40                    | 50              | 4                        | High
Bob      | 38                    | 48              | 3                        | Medium
Charlie  | 45                    | 55              | 5                        | High
Diana    | 42                    | 52              | 4                        | High