# Variables and Data types

Data storage containers with a **Label** called an identifier

In [19]:
#type integer
my_var_1 = 10
#display the type of variable
type(my_var_1)

#type float
my_var_2 = 1.2
#display the type of variable


#type string
my_var_3 = "hello world"

#type boolean
my_var_4 = True

In [17]:
type(my_var_4)

bool

# User inputs

In [21]:
input_num = input("Please Enter A Number")
type(input_num)

Please Enter A Number hello world

str

In [47]:
input_num = int(input("Please Enter A Number"))
type(input_num)

Please Enter A Number 10

int

# Math operators

In [49]:
#addition
add_two = 2+3

#subratction
sub_two = 3-2

#multiplication
mul_two = 3*2

#integer division
int_div = 5//2

#float division
float_div = 5/2

#power
pow_num = 3**2

#modulo operator (reminder)
rem_num = 5%2

# Priority: power > division > multiplication > addition > subtraction

In [35]:
100-5**2/5*21+21%1

-5.0

# Conversion between numeric types

In [27]:
#integer to float
float(5)

5.0

In [29]:
#float to integer
int(3.27)

3

In [31]:
#int to string
str(12)

'12'

In [33]:
#string concatenation
my_num = 310
my_string_1 = "DAT "
my_string = my_string_1 + str(my_num) 
print(my_string)

DAT 310

# Numbers: inbuilt functions

In [7]:
#returns the absolute value 
abs(-5)

#returns largest number
max(3,7)

#returns smallest number
min(3,7)

#returns power
pow(3,2)

9

# Comparision operators (always returns a boolean)

In [39]:
var_1 = 2
var_2 = 3

#greater than/ greater than or equal to
var_1 > var_2

False

In [ ]:
print(var_1 >= var_2)

In [41]:
my_bool = var_1 > var_2
print(my_bool)

False

In [ ]:
#less than/ less than or equal to

In [ ]:
print(var_1 <= var_2)

In [ ]:
my_bool = var_1 <= var_2
print(my_bool)

In [ ]:
#equal to (note: = is an assignment operator and == is comparision operator)
print(var_1 == var_2)
my_bool = var_1 == var_2

In [ ]:
#not equal to
print(var_1 != var_2)
my_bool = var_1 != var_2
print(my_bool)

# Logical operators

In [10]:
var_1 = True
var_2 = False

#logical and
print(var_1 and var_2)

False

In [ ]:
my_bool = var_1 and var_2
print(my_bool)

In [ ]:
#logical or
print(var_1 or var_2)

In [ ]:
my_bool = var_1 or var_2
print(my_bool)

In [ ]:
#logical not
print(not var_1)

In [ ]:
my_bool = not(var_1 and var_2)
print(my_bool)

# Lists (note: index -> 0 to len-1)

In [45]:
my_list = [4, 6, 1, 3]

#returns th number of elements in a list
len(my_list)

4

In [51]:
#returns the first element
my_list = [4, 6, 1, 3]

print(my_list[0])

4

In [63]:
#returns the smallest value in the list
my_list = [4, 6, 1, 3]

print(min(my_list))

1

In [65]:
#returns the largest value in the list

print(max(my_list))

6

In [73]:
#add a new element to the end of list

my_list.append(32)
print(my_list)

[4, 6, 1, 3, 32]

In [77]:
#add a new element at a specified index
#(index_loc , element)

my_list.insert(0, 43)
print(my_list)

[43, 4, 6, 1, 3, 32]

In [81]:
my_list.sort(reverse = True)
print(my_list)

[43, 32, 6, 4, 3, 1]

# List slicing

In [95]:
my_list = [0,1,2,3,4,5,6,7,8,9]

#slice starting at index 2 up to, but not including index 7 -> index 2 to index 6

print(my_list[2:7])

[2, 3, 4, 5, 6]

In [89]:
#slice starting at index 5 up to the end of the list

print(my_list[5:])

[5, 6, 7, 8, 9]

In [93]:
#slice starting at the beginning of the list up to, but not including index 8

print(my_list[:8])

[0, 1, 2, 3, 4, 5, 6, 7]

In [97]:
#returns the entire list

print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
#returns the last element in the list

print(my_list[-1])

9

In [111]:
my_list[1::2]

[1, 3, 5, 7, 9]

# Tuples (immutable but can be accessed just like a list)

In [109]:
my_tuple_1 = (0,1,2,3,4)
my_tuple_2 = tuple("Champlain")
my_tuple_3 = tuple(my_list)

print(my_tuple_2)

('C', 'h', 'a', 'm', 'p', 'l', 'a', 'i', 'n')

# Dictionary holds key:value pair

In [113]:
my_dict = {}
my_dict = {"Make":"Ford", "Model":"Mustang", "Year":"2007","Engine":"V8", "Miles":"5337"}

#adding na new key-value pair
my_dict["HP"] = "400"
my_dict["Torque"] = "425"

print(my_dict)

{'Make': 'Ford', 'Model': 'Mustang', 'Year': '2007', 'Engine': 'V8', 'Miles': '5337', 'HP': '400', 'Torque': '425'}

In [ ]:
#modifies an existing key-value pair
my_dict["Torque"] ="423"

In [ ]:
#deleting a key-value pair
del my_dict["Torque"]

In [115]:
#returns the number of key-value pairs

print(len(my_dict))

7

In [119]:
#returns a list having keys in the dictionary as elements

print(my_dict.keys())

dict_keys(['Make', 'Model', 'Year', 'Engine', 'Miles', 'HP', 'Torque'])

In [123]:
#returns a list having values in the dictionary as elements
print(my_dict.values())

dict_values(['Ford', 'Mustang', '2007', 'V8', '5337', '400', '425'])

In [125]:
#returns a list of tuples, each tuple containing the key and value of each dictionary pair

print(my_dict.items())

dict_items([('Make', 'Ford'), ('Model', 'Mustang'), ('Year', '2007'), ('Engine', 'V8'), ('Miles', '5337'), ('HP', '400'), ('Torque', '425')])

# Control flow
# if , if-else, if-elif-else

# if
if(condition):
    yes_statements

# if-else
if (condition):
    yes_statements
else:
    no_statements
    
# if-elif-else ladder
if (condition_1):
    statements_1
elif (condition_2):
    statements_2
elif (condition_3):
    statements_3
    
    .
    .
    .
    .
    
else:
    statements_n

In [32]:
#check if input number is greater than 5
input_num = int(input("Enter number:"))

if(input_num > 5):
    print(input_num, " is greater than 5")

Enter number:8
8  is greater than 5

In [35]:
input_num = int(input("Enter number:"))

if(input_num > 5):
    print(input_num, "is greater than 5")
else:
    print(input_num, "is less than 5")

Enter number:4
4 is less than 5

In [34]:
input_num = int(input("Enter number:"))

if(input_num > 5):
    print(input_num, "is greater than 5")
elif(input_num == 5):
    print(input_num, "is equal to 5")
else:
    print(input_num, "is less than 5")

Enter number:5
5 is equal to 5

Write a program that will tell whether the input number is divisible by 3 & 4.

In [2]:
input_num = int(input("Enter number:"))

if((input_num%3 == 0) and (input_num%4 == 0)):
    print(input_num, "is divisible by 3 and 4")
else:
    print(input_num, "is not divisible by 3 and 4")

Enter number:12
12 is divisible by 3 and 4

# while loop

while (condition):
    statements

In [127]:
#enforce a positive input
input_num = int(input("Enter number:"))


print(input_num)

Enter number: 13

13

# Problem 1

Display all even numbers between 1 and 20.

In [143]:
i = 0

while i < 20:
    i += 1
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

# for loop

for var in iterable:
    statements

In [8]:
my_list = [11,12,13,14,15]

In [7]:
#for loop with a step size
#step size 1


#step size 2

In [9]:
#using a for loop to take inputs to a list

# Problem 2 

Find sum of first n natural numbers

In [160]:
my_list = [11,12,13,14,15]

running_sum = 0

for i in my_list:
    running_sum += i

print(running_sum)

65

# nested for loop

# Problem 3 

Print multiplication table from 1 to 10

# functions

In [ ]:

for i in range(1, 11):
    for x in range(1, 11):
        print(i * x)

def function_name(parameters):
    .
    .
    body of the function
    .
    .
    return expression/variable
    
    

#Python 3.5 and above
#similar to C++ 
def function_name(parameter: data_type) -> return_type:
    .
    .
    body of the function
    .
    .
    return expression

In [162]:
def add_2(num_1, num_2):
    num_3 = num_1+num_2
    
    return num_3

num_1, num_2 = 2,3
add_two = add_2(num_1, num_2)
#print("The sum of", num_1, "and", num_2,"is", add_two)
print(f"The sum of {num_1} and {num_2} is {add_two}.")

The sum of 2 and 3 is 5.

# Problem 4

Given a list of temperatures, classify them into lists of good temperatures and not so good temperatures, and display the results. 

A good temperature is between 65 to 80 F (Including both)

In [ ]:
temperature_reading = [70, 78, 81, 34, 53, 91, 88, 29, 37, 63, 85, 22, 13, 93, 98, 100]

Display the highest 3 temperatures

In [27]:
temperature_reading = [70, 78, 81, 34, 53, 91, 88, 29, 37, 63, 85, 22, 13, 93, 98, 100]

def temp_sort(temp):
    temp.sort
    return temp[-3:]

temp_sort(temperature_reading)

[93, 98, 100]

Display the lowest 4 temperatures

In [29]:
temperature_reading = [70, 78, 81, 34, 53, 91, 88, 29, 37, 63, 85, 22, 13, 93, 98, 100]

def temp_sort(temp):
    temp.sort
    return temp[:3]

temp_sort(temperature_reading)

[70, 78, 81]

In [4]:
my_list.sort(reverse = True)